.footer {
  position: absolute;
  width: 1440px;
  height: 32px;
  left: 0px;
  top: 726px;
}
.footer {
  position: absolute;
  width: 1440px;
  height: 32px;
  left: 0px;
  top: 726px;

  background: #1d4279;
}
.footer-name {
  /* Kandidat : [nama kamu] */

  position: absolute;
  width: 356.52px;
  height: 18px;
  left: 541.16px;
  top: 733px;

  /* Paragraph / P 3 | Regular | 12px */

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */

  display: flex;
  align-items: center;
  text-align: center;

  /* Primary / WHITE */

  color: #ffffff;
}
